/*
Pre-Requisites
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


:root {
	--Soft-red: hsl(7, 99%, 70%);
	--Yellow: hsl(51, 100%, 49%);
	--Dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
	--Dark-blue-photography-text: hsl(198, 62%, 26%);
	--Dark-moderate-cyan-footer: hsl(168, 34%, 41%);
	--Very-dark-desaturated-blue: hsl(212, 27%, 19%);
	--Very-dark-grayish-blue: hsl(213, 9%, 39%);
	--Dark-grayish-blue: hsl(232, 10%, 55%);
	--Grayish-blue: hsl(210, 4%, 67%);
	--White: hsl(0, 0%, 100%);
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.attribution a:hover {
	color: Red;
}

/*
Body Styling
*/
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}


/*
Container Styling
*/

.container {
	display: grid;
	grid-template-areas:
	"header"
	"transform"
	"stand-out"
	"display-work"
	"testimonials"
	"gallery"
	"footer"
	;
}

.header {
	grid-area: header;
}

.transform {
	grid-area: transform;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.stand-out {
	grid-area: stand-out;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.display-work {
	grid-area: display-work;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.testimonials {
	grid-area: testimonials;
	display: grid;
	grid-template-areas:
	"heading"
	"reviews"
	;
	justify-items: center;
	gap: 80px;
	padding-block: 3rem;
	background-color: #fcf7f7;
}

.gallery {
	grid-area: gallery;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.footer {
	grid-area: footer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	background-color: var(--Dark-moderate-cyan-footer);
	padding-block: 4rem;
}

.container	> div, .footer {
	margin-top: -5px;
}


/*
Header Styling
*/

.header .images {
	position: relative;
	width: 100%;
}

.header .images > span:nth-of-type(1) {
	width: 100%;
}

.header .images > span:nth-of-type(1) img {
	width: 100%;
}

.header .images > span:nth-of-type(2) {
	width: 100%;
	display: none;
}

.header .images > span:nth-of-type(2) img {
	width: 100%;
}

.header .images > span:nth-of-type(3) {
	width: 100%;
	position: absolute;
	top: 47.5%;
	left: 47.5%;
	transform: translateX(-47.5%);
	text-align: center;
}

.header .images > span:nth-of-type(4) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 20px;
}

.header .images > span:nth-of-type(4) img:nth-of-type(1) {
	width: 175px;
}

.header .images > span:nth-of-type(4) ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	list-style-type: none;
	font-family: 'Barlow', sans-serif;
}

.header .images > span:nth-of-type(4) a {
	color: var(--White);
	text-decoration: none;
	font-size: 20px;
}

.header .images > span:nth-of-type(4) ul li:nth-of-type(4) a {
	color: var(--Very-dark-grayish-blue);
	border: solid 20px var(--White);
	background-color: var(--White);
	border-radius: 30px;
	text-transform: uppercase;
	font-family: 'Fraunces', serif;
}

.header .images > span:nth-of-type(4) li:nth-of-type(4) a:hover {
	border-color:#edece5;
	background-color: #edece5;
}

.header .images > span:nth-of-type(4) img:nth-of-type(2) {
	width: 35px;
	display: none;
}

.header .images h1 {
	width: 100%;
	position: absolute;
	top: 27.5%;
	left: 27.5%;
	transform: translateX(-27.5%);
	color: var(--White);
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
	font-family: 'Fraunces', serif;
	letter-spacing: 10px;
}


 /*
Transform Styling
 */

.transform .text {
	grid-column: 1/2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 25px;
	padding-left: 15%;
}

.transform .text h2 {
	font-family: 'Fraunces', serif;
	font-size: 40px;
	color: var(--Very-dark-desaturated-blue);
}

.transform .text p {
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
	color: var(--Dark-grayish-blue);
	line-height: 1.75;
}

.transform .text .learn-more {
	width: 100px;
	position: relative;
}

.transform .learn-more a {
	text-decoration: none;
	color: var(--Very-dark-desaturated-blue);
	font-weight: 900;
	font-size: 14px;
	text-transform: uppercase;
}

.transform .text .learn-more hr {
	height: 10px;
	width: 100%;
	border-radius: 5px;
	position: absolute;
	top: 60%;
	left: 0;
	z-index: -1;
	background-color: var(--Yellow);
}

.transform .images {
	grid-column: 2/3;
}

.transform .images img {
	width: 100%;
}

.transform .images img:nth-of-type(2) {
	display: none;
}


/*
Stand-out Styling
*/

.stand-out .images {
	grid-column: 1/2;
}

.stand-out .images img {
	width: 100%;
}

.stand-out .images img:nth-of-type(2) {
	display: none;
}

.stand-out .text {
	grid-column: 2/3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 25px;
	padding-left: 15%;
}

.stand-out .text h2 {
	font-family: 'Fraunces', serif;
	font-size: 40px;
	color: var(--Very-dark-desaturated-blue);
}

.stand-out .text p {
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
	color: var(--Dark-grayish-blue);
	line-height: 1.75;
}

.stand-out .text .learn-more {
	width: 100px;
	position: relative;
}

.stand-out .learn-more a {
	text-decoration: none;
	color: var(--Very-dark-desaturated-blue);
	font-weight: 900;
	font-size: 14px;
	text-transform: uppercase;
}

.stand-out .text .learn-more hr {
	height: 10px;
	width: 100%;
	border-radius: 5px;
	position: absolute;
	top: 60%;
	left: 0;
	z-index: -1;
	background-color: var(--Soft-red) !important;
}


/*
Display-work Styling
*/

.display-work .graphics {
	grid-column: 1/2;
	position: relative;
}

.display-work .graphics img {
	width: 100%;
}

.display-work .graphics img:nth-of-type(2) {
	display: none;
}

.display-work .graphics .text {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translateX(-25%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.graphics .text h2 {
	font-size: 32px;
	font-family: 'Fraunces', serif;
	color: var(--Dark-desaturated-cyan-graphic-design-text);
}

.graphics .text p {
	font-size: 18px;
	font-family: 'Barlow', sans-serif;
	color: var(--Dark-desaturated-cyan-graphic-design-text);
	line-height: 1.5;
	text-align: center;
}

.display-work .photography {
	grid-column: 2/3;
	position: relative;
}

.display-work .photography img {
	width: 100%;
}

.display-work .photography img:nth-of-type(2) {
	display: none;
}

.display-work .photography .text {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translateX(-25%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.photography .text h2 {
	font-size: 32px;
	font-family: 'Fraunces', serif;
	color: var(--Dark-blue-photography-text);
}

.photography .text p {
	font-size: 18px;
	font-family: 'Barlow', sans-serif;
	color: var(--Dark-desaturated-cyan-graphic-design-text);
	line-height: 1.5;
	text-align: center;
}

/*
Testimonials Styling
*/

.testimonials > h2 {
	grid-area: heading;
	text-transform: uppercase;
	font-size: 30px;
	color: var(--Grayish-blue);
	font-family: 'Fraunces', serif;
}

.testimonials .testimonies {
	grid-area: reviews;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	column-gap: 45px;
}

.testimonies .emily {
	grid-column: 1/2;
}

.testimonies .thomas {
	grid-column: 2/3;
}

.testimonies .jennie {
	grid-column: 3/4;
}

.testimonies .reviews {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	text-align: center;
}

.reviews img {
	width: 75px;
	height: 75px;
	border-radius: 50%;
}

.reviews article {
	font-size: 18px;
	font-family: 'Barlow', sans-serif;
	color: var(--Very-dark-grayish-blue);
	line-height: 1.75;
}

.reviews > span {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.reviews > span h3 {
	font-family: 'Fraunces', serif;
	color: var(--Very-dark-desaturated-blue);
	font-weight: 900;
}

.reviews > span p {
	font-family: 'Barlow', sans-serif;
	color: var(--Dark-grayish-blue);
}

/*
Gallery Styling
*/

.gallery > span:nth-of-type(1) {
	grid-column: 1/2;
}

.gallery > span:nth-of-type(2) {
	grid-column: 2/3;
}

.gallery > span:nth-of-type(3) {
	grid-column: 3/4;
}

.gallery > span:nth-of-type(4) {
	grid-column: 4/5;
}

.gallery > span > img {
	width: 100%;
}

.gallery > span > img:nth-of-type(2) {
	display: none;
}

/*
Footer Styling
*/

.footer > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.footer > div:nth-of-type(1) h2 {
	font-family: 'Fraunces', serif;
	font-weight: 900;
	font-size: 40px;
	color: var(--Dark-desaturated-cyan-graphic-design-text);
}

.footer > div:nth-of-type(1) ul {
	display: flex;
	list-style-type: none;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.footer > div:nth-of-type(1) a {
	text-decoration: none;
	color: var(--Dark-desaturated-cyan-graphic-design-text);
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
}

.footer > div:nth-of-type(1) a:hover {
	color: var(--White);
}

.footer > div:nth-of-type(2) .socials {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.socials a {
	text-decoration: none;
	color: var(--Dark-desaturated-cyan-graphic-design-text);
}

.socials a:hover {
	color: var(--White);
}

.socials .fa-brands {
	font-size: 25px;
}


/*
Media Queries
*/

@media screen and (max-width: 1170px) {

	.header .images h1 {
		font-size: 42px;
	}

	.transform .text p {
		font-size: 14px;
	}

	.stand-out .text p {
		font-size: 14px;
	}

	.display-work .text {
		transform: translateX(-12.5%);
	}

	.display-work .text p {
		font-size: 15px;
	}

	.testimonies .reviews article {
		font-size: 13.5px;
	}
}

@media screen and (max-width: 900px) {

	.header .images > span:nth-of-type(4) {
		padding-inline: 12px;
	}

	.header .images > span:nth-of-type(4) ul {
		gap: 15px;
	}

	.header .images > span:nth-of-type(4) ul li:nth-of-type(4) a {
		border-width: 13px;
	}

	.header .images h1 {
		font-size: 30px;
		letter-spacing: 7px;
	}

	.transform .text {
		padding-left: 33px;
		padding-bottom: 10px;
	}

	.transform .text h2 {
		font-size: 35px;
	}

	.transform .text p {
		font-size: 12.5px;
	}

	.stand-out .text {
		padding-left: 33px;
		padding-bottom: 10px;
	}

	.stand-out .text h2 {
		font-size: 32.5px;
	}

	.stand-out .text p {
		font-size: 12.5px;
	}

	.testimonials .testimonies {
		column-gap: 22.5px;
	}
	.testimonies .reviews article {
		font-size: 11px;
	}
}

/*
Mobile Media Query
*/

@media screen and (max-width: 700px) {

	.container {
		max-width: 99%;
	}

	.header .images > span:nth-of-type(1) {
		display: none;
	}

	.header .images > span:nth-of-type(2) {
		display: initial;
	}

	.header .images > span:nth-of-type(3) {
		top: 57.5%;
	}

	.header .images > span:nth-of-type(4) ul {
		display: none;
	}

	.header .images > span:nth-of-type(4) img:nth-of-type(2) {
		display: initial;
	}

	.header .images h1 {
		width: 75%;
		font-size: 50px;
		letter-spacing: 10px;
		top: 22.5%;
		left: 50%;
		transform: translateX(-50%);
	}

	.transform {
		grid-template-areas:
		"transform-images"
		"transform-text"
		;
		grid-template-columns: unset;
	}

	.transform .images {
		grid-area: transform-images;
		margin-top: -5px;
	}

	.transform .images img:nth-of-type(1) {
		display: none;
	}

	.transform .images img:nth-of-type(2) {
		display: initial;
	}

	.transform .text {
		grid-area: transform-text;
		height: 570px;
		padding: unset;
		align-items: center;
		text-align: center;
		margin-top: -5px;
	}

	.transform .text h2 {
		font-size: 60px;
	}

	.transform .text p {
		font-size: 20px;
	}

	.stand-out {
		grid-template-areas:
		"stand-out-images"
		"stand-out-text"
		;
		grid-template-columns: unset;
	}

	.stand-out .images {
		grid-area: stand-out-images;
		margin-top: -5px;
	}

	.stand-out .images img:nth-of-type(1) {
		display: none;
	}

	.stand-out .images img:nth-of-type(2) {
		display: initial;
	}

	.stand-out .text {
		grid-area: stand-out-text;
		height: 570px;
		padding: unset;
		align-items: center;
		text-align: center;
		margin-top: -5px;
	}

	.stand-out .text h2 {
		font-size: 60px;
	}

	.stand-out .text p {
		font-size: 20px;
	}

	.display-work {
		grid-template-columns: unset;
		grid-template-areas:
		"graphics"
		"photography"
		;
	}

	.display-work .graphics {
		grid-area: graphics;
		margin-top: -5px;
	}

	.display-work .photography {
		grid-area: photography;
		margin-top: -5px;
	}

	.display-work .text h2 {
		font-size: 50px;
	}

	.display-work .text p {
		font-size: 25px;
	}

	.testimonials .testimonies {
		grid-template-columns: unset;
		grid-template-areas:
		"emily"
		"thomas"
		"jennie"
		;
		grid-row-gap: 30px;
		column-gap: unset;
	}

	.testimonies .emily {
		grid-area: emily;
	}

	.testimonies .thomas {
		grid-area: thomas;
	}

	.testimonies .jennie {
		grid-area: jennie;
	}

	.testimonies .reviews article {
		font-size: 22px;
	}

	.reviews > span h2 {
		font-size: 25px;
	}

	.reviews > span > p {
		font-size: 18px;
	}

	.gallery {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, auto);
	}

	.gallery > span:nth-of-type(1) {
		grid-column: 1/2;
		grid-row: 1;
	}

	.gallery > span:nth-of-type(1) img:nth-of-type(1) {
		display: none;
	}

	.gallery > span:nth-of-type(1) img:nth-of-type(2) {
		display: initial;
	}

	.gallery > span:nth-of-type(2) {
		grid-column: 2/3;
		grid-row: 1;
	}

	.gallery > span:nth-of-type(2) img:nth-of-type(1) {
		display: none;
	}

	.gallery > span:nth-of-type(2) img:nth-of-type(2) {
		display: initial;
	}

	.gallery > span:nth-of-type(3) {
		grid-column: 1/2;
		grid-row: 2;
		margin-top: -5px;
	}

	.gallery > span:nth-of-type(3) img:nth-of-type(1) {
		display: none;
	}

	.gallery > span:nth-of-type(3) img:nth-of-type(2) {
		display: initial;
	}

	.gallery > span:nth-of-type(4) {
		grid-column: 2/3;
		grid-row: 2;
		margin-top: -5px;
	}

	.gallery > span:nth-of-type(4) img:nth-of-type(1) {
		display: none;
	}

	.gallery > span:nth-of-type(4) img:nth-of-type(2) {
		display: initial;
	}
}

@media screen and (max-width: 650px) {
	.stand-out .text h2 {
		font-size: 45px;
	}

	.display-work .text > p {
		font-size: 23px;
	}
}

@media screen and (max-width: 500px) {

	.header .images h1 {
		font-size: 40px;
		letter-spacing: 5px;
	}
	.transform .text, .stand-out .text {
		height: 375px;
	}

	.transform .text h2 {
		font-size: 36.5px;
	}

	.transform .text p {
		font-size: 16px;
	}

	.stand-out .text h2 {
		font-size: 36.5px;
	}

	.stand-out .text p {
		font-size: 16px;
	}

	.display-work .graphics .text, .display-work .photography .text {
		gap: 10px;
	}

	.display-work .text > h2 {
		font-size: 40px;
	}

	.display-work .text > p {
		font-size: 18px;
	}

	.testimonies .reviews article {
		font-size: 20px;
	}

	.footer > div:nth-of-type(1) ul {
		gap: 35px;
	}
}

@media screen and (max-width: 400px) {

	.transform .text p {
		font-size: 14px;
	}

	.stand-out .text h2 {
		font-size: 32px;
	}

	.stand-out .text p {
		font-size: 14px;
	}

	.display-work .text > p {
		font-size: 16px;
	}

	.testimonials > h2 {
		font-size: 27px;
	}

	.testimonies .reviews article {
		font-size: 18px;
	}

	.footer > div:nth-of-type(1) ul {
		gap: 21.5px;
	}

	.footer > div:nth-of-type(1) a {
		font-size: 14.5px;
	}
}

@media screen and (max-width: 360px) {

	.header .images > span:nth-of-type(4) img:nth-of-type(1) {
		width: 125px;
	}

	.header .images > span:nth-of-type(4) img:nth-of-type(2) {
		width: 25px;
	}

	.header .images h1 {
		width: 100%;
		font-size: 35px;
	}

	.transform .text {
		height: 330px;
	}

	.transform .text h2 {
		font-size: 32px;
	}

	.transform .text p {
		font-size: 11px;
	}

	.stand-out .text {
		height: 330px;
	}
	.stand-out .text h2 {
		font-size: 25px;
	}
	.stand-out .text p {
		font-size: 11px;
	}

	.display-work .text > h2 {
		font-size: 31px;
	}

	.display-work .text > p {
		font-size: 14px;
	}

	.testimonials > h2 {
		font-size: 21px;
	}

	.testimonies .reviews article {
		font-size: 14px;
	}
}

@media screen and (max-width: 300px) {
	.display-work .text > p {
		font-size: 11.5px;
	}
}